<body id="page-top">

  <!-- <div id="preloader">
  <div class="canvas">
  <img src="assets/img/logo.png" alt="logo" class="loader-logo">
  <div class="spinner"></div>
  </div>
  </div> -->
  
  <div class="page db-social">
  
  <header class="header">
  <nav class="navbar fixed-top">
  
  <div class="search-box">
  <button class="dismiss"><i class="ion-close-round"></i></button>
  <form id="searchForm" action="#" role="search">
  <input type="search" placeholder="Search something ..." class="form-control">
  </form>
  </div>
  
  
  <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
  
  <div class="navbar-header">
  <a href="db-social.html" class="navbar-brand">
  <div class="brand-image brand-big">
  <img src="assets/img/logo.png" alt="logo" style="width: 70px;" class="logo-big">
  </div>
  <div class="brand-image brand-small">
  <img src="assets/img/logo.png" alt="logo" class="logo-small">
  </div>
  </a>
  
  <a id="toggle-btn" href="#" class="menu-btn active">
  <span></span>
  <span></span>
  <span></span>
  </a>
  
  </div>
  
  
  <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
  
  <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="la la-search"></i></a></li>
  
  
  <li class="nav-item dropdown"><a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="la la-bell animated infinite swing"></i><span class="badge-pulse"></span></a>
  <ul aria-labelledby="notifications" class="dropdown-menu notification">
  <li>
  <div class="notifications-header">
  <div class="title">Notifications (4)</div>
  <div class="notifications-overlay"></div>
  <img src="assets/img/notifications/01.jpg" alt="..." class="img-fluid">
  </div>
  </li>
  <li>
  <a href="#">
  <div class="message-icon">
  <i class="la la-user"></i>
  </div>
  <div class="message-body">
  <div class="message-body-heading">
  New user registered
  </div>
  <span class="date">2 hours ago</span>
  </div>
  </a>
  </li>
  <li>
  <a href="#">
  <div class="message-icon">
  <i class="la la-calendar-check-o"></i>
  </div>
  <div class="message-body">
  <div class="message-body-heading">
  New event added
  </div>
  <span class="date">7 hours ago</span>
  </div>
  </a>
  </li>
  <li>
  <a href="#">
  <div class="message-icon">
  <i class="la la-history"></i>
  </div>
  <div class="message-body">
  <div class="message-body-heading">
  Server rebooted
  </div>
  <span class="date">7 hours ago</span>
  </div>
  </a>
  </li>
  <li>
  <a href="#">
  <div class="message-icon">
  <i class="la la-twitter"></i>
  </div>
  <div class="message-body">
  <div class="message-body-heading">
  You have 3 new followers
  </div>
  <span class="date">10 hours ago</span>
  </div>
  </a>
  </li>
  <li>
  <a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">View All Notifications</a>
  </li>
  </ul>
  </li>
  
  
  <li class="nav-item dropdown"><a id="user" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="assets/img/avatar/avatar-01.jpg" alt="..." class="avatar rounded-circle"></a>
  <ul aria-labelledby="user" class="user-size dropdown-menu">
  <li class="welcome">
  <a href="#" class="edit-profil"><i class="la la-gear"></i></a>
  <img src="assets/img/avatar/avatar-01.jpg" alt="..." class="rounded-circle">
  </li>
  <li>
  <a href="db-social.html" class="dropdown-item">
  Profile
  </a>
  </li>
  <li>
  <a href="app-mail.html" class="dropdown-item">
  Messages
  </a>
  </li>
  <li>
  <a href="#" class="dropdown-item no-padding-bottom">
  Settings
  </a>
  </li>
  <li class="separator"></li>
  <li>
  <a href="pages-faq.html" class="dropdown-item no-padding-top">
  Faq
  </a>
  </li>
  <li><a rel="nofollow" href="pages-login.html" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
  </ul>
  </li>
  
  
  <li class="nav-item"><a href="#off-canvas" class="open-sidebar"><i class="la la-ellipsis-h"></i></a></li>
  
  </ul>
  
  </div>
  
  </nav>
  </header>
  
  
  <div class="page-content d-flex align-items-stretch">
  <div class="compact-sidebar light-sidebar has-shadow">
  
  <nav class="side-navbar box-scroll sidebar-scroll">
  
  <ul class="list-unstyled">
  <li>
  <a [routerLink]="['newsfeed']">
  <i class="ti ti-receipt"></i><span>Newsfeed</span>
  </a>
  </li>
  <li>
  <a [routerLink]="['messages']">
  <i class="ti ti-comments"></i><span>Messages</span>
  </a>
  </li>
  <li>
  <a [routerLink]="['freinds']">
  <i class="ti ti-user"></i><span>Friends</span>
  </a>
  </li>
  
  <li>
  <a href="db-default.html">
  <i class="la la-angle-left"></i><span>Go Back</span>
  </a>
  </li>
  </ul>
  
  </nav>
  
  </div>
  
  <router-outlet  ></router-outlet>
  
  
  </div>
  
  </div>
  
  <script src="assets/vendors/js/base/jquery.min.js" type="8c7e040cc131eca9417a3d79-text/javascript"></script>
  <script src="assets/vendors/js/base/core.min.js" type="8c7e040cc131eca9417a3d79-text/javascript"></script>
  
  
  <script src="assets/vendors/js/nicescroll/nicescroll.min.js" type="8c7e040cc131eca9417a3d79-text/javascript"></script>
  <script src="assets/vendors/js/lity/lity.min.js" type="8c7e040cc131eca9417a3d79-text/javascript"></script>
  <script src="assets/vendors/js/app/app.min.js" type="8c7e040cc131eca9417a3d79-text/javascript"></script>
  
  
  <script src="assets/js/pages/newsfeed.min.js" type="8c7e040cc131eca9417a3d79-text/javascript"></script>
  
  
  <script type="8c7e040cc131eca9417a3d79-text/javascript">
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
          </script>
  <script src="./assets/js/common/rocket-loader.min.js" data-cf-nonce="8c7e040cc131eca9417a3d79-" defer=""></script></body>