<div class="content-inner compact">
  <div class="container-fluid newsfeed">
  <div class="row justify-content-center">
  <div class="col-xl-11">
  <div class="row">
  <div class="col-xl-3 column">
  
  <div class="widget has-shadow">
  <div class="widget-header bordered no-actions d-flex align-items-center">
  <h5>Popular Groups</h5>
  </div>
  <div class="widget-body p-3">
  <ul class="pop-groups list-group w-100">
  
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/logo.png" alt="..." style="width: 50px;">
  </div>
  <div class="media-body align-self-center">
  <h5 class="m-0">Swift-wallet</h5>
  <small class="m-0">
  Great Template
  </small>
  </div>
  <div class="media-right align-self-center">
  <i class="la la-heart-o" data-toggle="tooltip" data-placement="top" title="Add To Favs"></i>
  </div>
  </div>
  </li>
  
  
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/icone-01.png" alt="..." style="width: 50px;">
  </div>
  <div class="media-body align-self-center">
  <h5 class="m-0">Love Ballons</h5>
  <small class="m-0">
  Company
  </small>
  </div>
  <div class="media-right align-self-center">
  <i class="la la-heart-o" data-toggle="tooltip" data-placement="top" title="Add To Favs"></i>
  </div>
  </div>
  </li>
  
  </ul>
  </div>
  </div>
  
  
  <div class="widget has-shadow">
  <div class="widget-header bordered no-actions d-flex align-items-center">
  <h5>Suggestions</h5>
  </div>
  <div class="widget-body p-3">
  <ul class="pop-groups list-group w-100">
  
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img class="rounded-circle" src="assets/img/avatar/avatar-07.jpg" alt="..." style="width: 50px;">
  </div>
  <div class="media-body align-self-center">
  <h5 class="m-0">Lisa Garett</h5>
  </div>
  <div class="media-right align-self-center">
  <button class="btn btn-gradient-01">Add</button>
  </div>
  </div>
  </li>
  
  
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img class="rounded-circle" src="assets/img/avatar/avatar-08.jpg" alt="..." style="width: 50px;">
  </div>
  <div class="media-body align-self-center">
  <h5 class="m-0">Peter Collins</h5>
  </div>
  <div class="media-right align-self-center">
  <button class="btn btn-gradient-01">Add</button>
  </div>
  </div>
  </li>
  
  
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img class="rounded-circle" src="assets/img/avatar/avatar-09.jpg" alt="..." style="width: 50px;">
  </div>
  <div class="media-body align-self-center">
  <h5 class="m-0">Michael Bradley</h5>
  </div>
  <div class="media-right align-self-center">
  <button class="btn btn-gradient-01">Add</button>
  </div>
  </div>
  </li>
  
  </ul>
  </div>
  </div>
  
  
  <div class="widget no-bg text-center">
  <img class="d-block mx-auto" src="assets/img/logo.png" alt="..." style="width: 100px;">
  <h3 class="text-primary mt-4">Join ELisyam!</h3>
  <p>Welcome coffee offered :)</p>
  <a href="pages-register.html" class="btn btn-shadow mt-4">Register Now!</a>
  </div>
  
  </div>
  
  
  <div class="col-xl-8">
  <div class="widget has-shadow">
  
  <div class="publisher publisher-multi bg-white">
  <textarea class="publisher-input" rows="4" placeholder="What's on your mind ?"></textarea>
  <div class="publisher-bottom">
  <div class="d-inline-block">
  <a class="publisher-btn" href="javascript:void(0);"><i class="la la-image"></i></a>
  <a class="publisher-btn" href="javascript:void(0);"><i class="la la-camera"></i></a>
  <a class="publisher-btn" href="javascript:void(0);"><i class="la la-paperclip"></i></a>
  </div>
  <div class="d-inline-block pull-right">
  <button class="btn btn-shadow mr-2">Preview</button>
  <button class="btn btn-gradient-01">Post Status</button>
  </div>
  </div>
  </div>
  
  </div>
  
  <div class="widget has-shadow">
  
  <div class="widget-header d-flex align-items-center">
  <div class="user-image">
  <img class="rounded-circle" src="assets/img/avatar/avatar-04.jpg" alt="...">
  </div>
  <div class="d-flex flex-column mr-auto">
  <div class="title">
  <span class="username">Nathan Hunter</span> shared a link
  </div>
  <div class="time">52 min ago</div>
  </div>
  <div class="widget-options">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="javascript:void(0);" class="dropdown-item">
  <i class="la la-edit"></i>Edit Post
  </a>
  <a href="javascript:void(0);" class="dropdown-item">
  <i class="la la-trash"></i>Delete Post
  </a>
  <a href="javascript:void(0);" class="dropdown-item">
  <i class="la la-bell-slash"></i>Disable Notifications
  </a>
  <a href="javascript:void(0);" class="dropdown-item faq">
  <i class="la la-question-circle"></i>FAQ
  </a>
  </div>
  </div>
  </div>
  </div>
  
  
  <div class="widget-body">
  <p>
  Hey <a href="db-social.html">David</a>, look at this, you'll love it. Tell me what you think !
  </p>
  <div class="row justify-content-center">
  <div class="col-xl-11">
  <div class="row post-video">
  <div class="col-xl-5 col-lg-5 col-sm-5 col-12">
  <div class="hover-img">
  <div class="overlay">
  <a href="http://www.youtube.com/watch?v=7e90gBu4pas" class="button has-shadow" data-lity>
  <i class="ion-play"></i>
  </a>
  </div>
  <a href="javascript:void(0);">
  <img src="assets/img/background/02.jpg" class="img-fluid rounded" alt="...">
  </a>
  </div>
  </div>
  <div class="col-xl-7 col-lg-7 col-sm-7 col-12 mt-auto mb-auto">
  <h3>Lorem ipsum dolor sit amet</h3>
  <p>Nullam aliquam felis ut elit rutrum mattis. Curabitur arcu eros, imperdiet id gravida sit amet, pulvinar non ex. Cras ac ligula eget sapien suscipit luctus non a risus.</p>
  <span class="source"><i class="la la-youtube"></i></span>
  </div>
  </div>
  </div>
  </div>
  </div>
   
  
  <div class="widget-footer d-flex align-items-center">
  <div class="col-xl-8 col-md-8 col-7 no-padding d-flex justify-content-start align-items-center">
  <div class="users-like">
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-01.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
   <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-02.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-03.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-09.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a class="view-more" href="javascript:void(0);">
  +4
  </a>
  </div>
  </div>
  <div class="col-xl-4 col-md-4 col-5 no-padding d-flex justify-content-end">
  <div class="meta">
  <ul>
  <li>
  <a href="javascript:void(0);">
  <i class="la la-comment"></i><span class="numb">12</span>
  </a>
  </li>
  <li>
  <a href="javascript:void(0);">
  <i class="la la-heart-o"></i><span class="numb">18</span>
  </a>
  </li>
  </ul>
  </div>
  </div>
  </div>
  
  
  <div class="comments">
  <div class="comments-header d-flex align-items-center">
  <div class="user-image">
  <img class="rounded-circle" src="assets/img/avatar/avatar-05.jpg" alt="...">
  </div>
  <div class="d-flex flex-column mr-auto">
  <div class="title">
  <span class="username">Megan Duncan</span>
  </div>
  <div class="time">10 min ago</div>
  </div>
  </div>
  <div class="comments-body">
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a imperdiet ipsum, sit amet hendrerit diam. Nam bibendum nec magna sed tincidunt.
  </p>
  </div>
  <div class="comments-footer d-flex align-items-center">
  <div class="meta">
  <ul>
  <li>
  <a href="javascript:void(0);">
  <i class="la la-flag"></i>
  </a>
  </li>
  <li>
  <a href="javascript:void(0);">
  <span class="rep">Reply</span>
  </a>
  </li>
  </ul>
  </div>
  </div>
  </div>
  
  
  <div class="reply">
  <div class="reply-header d-flex align-items-center">
  <div class="user-image">
  <img class="rounded-circle" src="assets/img/avatar/avatar-06.jpg" alt="...">
  </div>
  <div class="d-flex flex-column mr-auto">
  <div class="title">
  <span class="username">Beverly Oliver</span>
  </div>
  <div class="time">5 min ago</div>
  </div>
  </div>
  <div class="reply-body">
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a imperdiet ipsum, sit amet hendrerit diam. Nam bibendum nec magna sed tincidunt.
  </p>
  </div>
  <div class="reply-footer d-flex align-items-center">
  <div class="meta">
  <ul>
  <li>
  <a href="javascript:void(0);">
  <i class="la la-flag"></i>
  </a>
  </li>
  <li>
  <a href="javascript:void(0);">
  <span class="rep">Reply</span>
  </a>
  </li>
  </ul>
  </div>
  </div>
  </div>
  
  
  <div class="publisher publisher-multi">
  <textarea class="publisher-input" rows="1"></textarea>
  <div class="publisher-bottom d-flex justify-content-end">
  <a class="publisher-btn" href="javascript:void(0);"><i class="la la-smile-o"></i></a>
  <a class="publisher-btn" href="javascript:void(0);"><i class="la la-camera"></i></a>
  <button class="btn btn-gradient-01">Post Comment</button>
  </div>
  </div>
  
  </div>
  
  
  <div class="widget has-shadow">
  
  <div class="widget-header d-flex align-items-center">
  <div class="user-image">
  <img class="rounded-circle" src="assets/img/avatar/avatar-09.jpg" alt="...">
  </div>
  <div class="d-flex flex-column mr-auto">
  <div class="title">
  <span class="username">Michael Bradley</span>
  </div>
  <div class="time">1 hour ago</div>
  </div>
  <div class="widget-options">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="javascript:void(0);" class="dropdown-item">
  <i class="la la-edit"></i>Edit Post
  </a>
  <a href="javascript:void(0);" class="dropdown-item">
  <i class="la la-trash"></i>Delete Post
  </a>
  <a href="javascript:void(0);" class="dropdown-item">
  <i class="la la-bell-slash"></i>Disable Notifications
  </a>
  <a href="javascript:void(0);" class="dropdown-item faq">
  <i class="la la-question-circle"></i>FAQ
  </a>
  </div>
  </div>
  </div>
  </div>
  
  
  <div class="widget-body">
  <p>
  Aenean dignissim sit amet lectus vitae tempus. Morbi suscipit, tortor at mollis bibendum, mauris risus luctus orci, ut efficitur nisl dolor et orci. Morbi quis justo eu urna efficitur pellentesque vel quis neque. Duis non velit ut tellus luctus pellentesque sed ut est. Etiam convallis sollicitudin tincidunt. Ut iaculis lacus vel dolor faucibus, vitae commodo massa posuere. Fusce tempus iaculis mollis. Vivamus sodales placerat dui, a varius ipsum. Aenean pulvinar felis sit amet turpis gravida dapibus. Sed congue lorem vitae nunc commodo bibendum. Vestibulum quis egestas nunc.
  </p>
  </div>
  
  
  <div class="widget-footer d-flex align-items-center">
  <div class="col no-padding d-flex justify-content-start">
  <div class="users-like">
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-03.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-05.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-07.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-04.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  </div>
  </div>
  <div class="col no-padding d-flex justify-content-end">
  <div class="meta">
  <ul>
  <li>
  <a href="javascript:void(0);">
  <i class="la la-comment"></i><span class="numb">38</span>
  </a>
  </li>
  <li>
  <a href="javascript:void(0);">
  <i class="la la-heart-o"></i><span class="numb">94</span>
  </a>
  </li>
  </ul>
  </div>
  </div>
  </div>
  
  
  <div class="publisher publisher-multi">
  <textarea class="publisher-input" rows="1"></textarea>
  <div class="publisher-bottom d-flex justify-content-end">
  <a class="publisher-btn" href="javascript:void(0);"><i class="la la-smile-o"></i></a>
  <a class="publisher-btn" href="javascript:void(0);"><i class="la la-camera"></i></a>
  <button class="btn btn-gradient-01">Post Comment</button>
  </div>
  </div>
  
  </div>
  
  </div>
  
  
  <div class="col-xl-1 column d-flex justify-content-center">
  
  <div class="friends-mini text-center" data-toggle="sticky-onscroll">
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-01.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-02.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-03.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-05.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-06.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-04.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-03.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-06.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <img src="assets/img/avatar/avatar-07.jpg" class="img-fluid rounded-circle" alt="...">
  </a>
  <a href="javascript:void(0);">
  <i class="la la-user-plus"></i>
  </a>
  </div>
  
  </div>
  
  </div>
  
  </div>
  
  </div>
  
  </div>
  
  
  <footer class="main-footer">
  <div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
  <p class="text-gradient-02">Design By Saerox</p>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
  <ul class="nav">
  <li class="nav-item">
  <a class="nav-link" href="documentation.html">Documentation</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="changelog.html">Changelog</a>
  </li>
  </ul>
  </div>
  </div>
  </footer>
  
  <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
  
  <div class="off-sidebar from-right">
  <div class="off-sidebar-container">
  <header class="off-sidebar-header">
  <ul class="button-nav nav nav-tabs mt-3 mb-3 ml-3" role="tablist" id="weather-tab">
  <li><a class="active" data-toggle="tab" href="#messenger" role="tab" id="messenger-tab">Messages</a></li>
  <li><a data-toggle="tab" href="#today" role="tab" id="today-tab">Today</a></li>
  </ul>
  <a href="#off-canvas" class="off-sidebar-close"></a>
  </header>
  <div class="off-sidebar-content offcanvas-scroll auto-scroll">
  <div class="tab-content">
  
  <div role="tabpanel" class="tab-pane show active fade" id="messenger" aria-labelledby="messenger-tab">
  
  <span class="date">Today</span>
  <div class="messenger-message messenger-message-sender">
  <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-02.jpg" alt="...">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  <span class="mb-2">Brandon wrote</span>
  Hi David, what's up?
  </p>
  </div>
  <div class="messenger-details">
  <span class="messenger-message-localization font-size-small">2 minutes ago</span>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-recipient">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  Hi Brandon, fine and you?
  </p>
  <p>
  I'm working on the next update of Swift-wallet
  </p>
  </div>
  <div class="messenger-details">
  <span class="messenger-message-localisation font-size-small">3 minutes ago</span>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-sender">
  <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-02.jpg" alt="...">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  <span class="mb-2">Brandon wrote</span>
  I can't wait to see
  </p>
  </div>
  <div class="messenger-details">
  <span class="messenger-message-localization font-size-small">5 minutes ago</span>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-recipient">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  I'm almost done
  </p>
  </div>
  <div class="messenger-details">
  <span class="messenger-message-localisation font-size-small">10 minutes ago</span>
  </div>
  </div>
  </div>
  <span class="date">Yesterday</span>
  <div class="messenger-message messenger-message-sender">
  <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-05.jpg" alt="...">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  I updated the server tonight
  </p>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-recipient">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  Didn't you have any problems?
  </p>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-sender">
  <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-05.jpg" alt="...">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  No!
  </p>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-recipient">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  Great!
  </p>
  <p>
  See you later!
  </p>
  </div>
  </div>
  </div>
  
  
  <div class="enter-message">
  <div class="enter-message-form">
  <input type="text" placeholder="Enter your message..." />
  </div>
  <div class="enter-message-button">
  <a href="#" class="send"><i class="ion-paper-airplane"></i></a>
  </div>
  </div>
  
  </div>
  
  
  <div role="tabpanel" class="tab-pane fade" id="today" aria-labelledby="today-tab">
  
  <div class="sidebar-heading pt-0">Today</div>
  <div class="today-stats mt-3 mb-3">
  <div class="row">
   <div class="col-4 text-center">
  <i class="la la-users"></i>
  <div class="counter">264</div>
  <div class="heading">Clients</div>
  </div>
  <div class="col-4 text-center">
  <i class="la la-cart-arrow-down"></i>
  <div class="counter">360</div>
  <div class="heading">Sales</div>
  </div>
   <div class="col-4 text-center">
  <i class="la la-money"></i>
  <div class="counter">$ 4,565</div>
  <div class="heading">Earnings</div>
  </div>
  </div>
  </div>
  
  
  <div class="sidebar-heading">Friends</div>
  <div class="quick-friends mt-3 mb-3">
  <ul class="list-group w-100">
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Brandon Smith</a>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Louis Henry</a>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-04.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Nathan Hunter</a>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-05.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Megan Duncan</a>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-06.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Beverly Oliver</a>
  </div>
  </div>
  </li>
  </ul>
  </div>
  
  
  <div class="sidebar-heading">Settings</div>
  <div class="quick-settings mt-3 mb-3">
  <ul class="list-group w-100">
  <li class="list-group-item">
  <div class="media">
  <div class="media-body align-self-center">
  <p class="text-dark">Notifications Email</p>
  </div>
  <div class="media-right align-self-center">
  <label>
  <input class="toggle-checkbox" type="checkbox" checked>
  <span>
  <span></span>
  </span>
  </label>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-body align-self-center">
  <p class="text-dark">Notifications Sound</p>
  </div>
  <div class="media-right align-self-center">
  <label>
  <input class="toggle-checkbox" type="checkbox">
  <span>
  <span></span>
  </span>
  </label>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-body align-self-center">
  <p class="text-dark">Chat Message Sound</p>
  </div>
  <div class="media-right align-self-center">
  <label>
  <input class="toggle-checkbox" type="checkbox" checked>
  <span>
  <span></span>
  </span>
  </label>
  </div>
  </div>
  </li>
  </ul>
  </div>
  
  </div>
  
  </div>
  </div>
  
  </div>
  
  </div>
  
  </div>
