
 
  
  
  <div class="content-inner compact">
  
  <div class="jumbotron jumbotron-fluid"></div>
  
  <div class="container-fluid">
  <div class="row justify-content-center">
  <div class="col-xl-11">
  
  <div class="widget head-profile has-shadow">
  <div class="widget-body pb-0">
  <div class="row d-flex align-items-center">
  <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
  <ul>
  <li>
  <div class="counter">246</div>
  <div class="heading">Friends</div>
  </li>
  <li>
  <div class="counter">30</div>
  <div class="heading">Online</div>
  </li>
  <li>
  <div class="counter">216</div>
  <div class="heading">Offline</div>
  </li>
  </ul>
  </div>
  <div class="col-xl-4 col-md-4 d-flex justify-content-center">
  <div class="image-default">
  <img class="rounded-circle" src="assets/img/avatar/avatar-01.jpg" alt="...">
  </div>
  <div class="infos">
  <h2>David Green</h2>
  <div class="location">Las Vegas, Nevada, U.S.</div>
  </div>
  </div>
  <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
  <div class="follow">
  <a class="btn btn-shadow" href="#"><i class="la la-user-plus"></i>Add Friend</a>
  <div class="actions dark">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="#" class="dropdown-item">
  Report
  </a>
  <a href="#" class="dropdown-item">
  Block
  </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <ul class="head-nav nav nav-tabs justify-content-center">
  <li><a href="db-social.html">Timeline</a></li>
  <li><a href="pages-about.html">About</a></li>
  <li><a class="active" href="pages-friends.html">Friends</a></li>
  <li><a href="javascript:void(0);">Photos</a></li>
  <li><a href="javascript:void(0);">Videos</a></li>
  </ul>
  </div>
  </div>
  
  <div class="row flex-row">
  <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
  
  <div class="widget-image has-shadow">
  <div class="contact-card-2">
  <div class="cover-bg">
  <img src="assets/img/cover/01.jpg" class="img-fluid" alt="...">
  </div>
  
  <div class="widget-body">
  <div class="quick-actions hover">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="#" class="dropdown-item remove">
  <i class="la la-trash"></i>Delete
  </a>
  <a href="#" class="dropdown-item">
  <i class="la la-edit"></i>Edit
  </a>
  </div>
  </div>
  </div>
  <div class="cover-image mx-auto">
  <img src="assets/img/avatar/avatar-02.jpg" alt="..." class="rounded-circle mx-auto">
  </div>
  <h4 class="name"><a href="#">Brandon Smith</a></h4>
  <div class="job">Designer</div>
  <div class="social-friends owl-carousel mb-3">
  <div class="item">
  <div class="stats">
  <div class="row d-flex justify-content-between">
  <div class="col">
  <span class="counter">264</span>
  <span class="text">Friends</span>
  </div>
  <div class="col">
  <span class="counter">52</span>
  <span class="text">Photos</span>
  </div>
  <div class="col">
  <span class="counter">997</span>
  <span class="text">Videos</span>
  </div>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="quick-about">
  <div class="row d-flex align-items-center">
  <div class="col-12">
  <h4>About</h4>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="text-center pt-5 pb-3">
  <a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
  <a href="app-chat.html" class="btn btn-shadow">Message</a>
  </div>
  </div>
  
  </div>
  </div>
  
  </div>
  <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
  
  <div class="widget-image has-shadow">
  <div class="contact-card-2">
  <div class="cover-bg">
  <img src="assets/img/cover/02.jpg" class="img-fluid" alt="...">
  </div>
  
  <div class="widget-body">
  <div class="quick-actions hover">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="#" class="dropdown-item remove">
  <i class="la la-trash"></i>Delete
  </a>
  <a href="#" class="dropdown-item">
  <i class="la la-edit"></i>Edit
  </a>
  </div>
  </div>
  </div>
  <div class="cover-image mx-auto">
  <img src="assets/img/avatar/avatar-03.jpg" alt="..." class="rounded-circle mx-auto">
  </div>
  <h4 class="name"><a href="#">Louis Henry</a></h4>
  <div class="job">UX Designer</div>
  <div class="social-friends owl-carousel mb-3">
  <div class="item">
  <div class="stats">
  <div class="row d-flex justify-content-between">
  <div class="col">
  <span class="counter">632</span>
  <span class="text">Friends</span>
  </div>
  <div class="col">
  <span class="counter">267</span>
  <span class="text">Photos</span>
  </div>
  <div class="col">
  <span class="counter">18</span>
  <span class="text">Videos</span>
  </div>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="quick-about">
  <div class="row d-flex align-items-center">
  <div class="col-12">
  <h4>About</h4>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="text-center pt-5 pb-3">
  <a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
  <a href="app-chat.html" class="btn btn-shadow">Message</a>
  </div>
  </div>
  
   </div>
  </div>
  
  </div>
  <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
  
  <div class="widget-image has-shadow">
  <div class="contact-card-2">
  <div class="cover-bg">
  <img src="assets/img/cover/03.jpg" class="img-fluid" alt="...">
  </div>
  
   <div class="widget-body">
  <div class="quick-actions hover">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="#" class="dropdown-item remove">
  <i class="la la-trash"></i>Delete
  </a>
  <a href="#" class="dropdown-item">
  <i class="la la-edit"></i>Edit
  </a>
  </div>
  </div>
  </div>
  <div class="cover-image mx-auto">
  <img src="assets/img/avatar/avatar-04.jpg" alt="..." class="rounded-circle mx-auto">
  </div>
  <h4 class="name"><a href="#">Nathan Hunter</a></h4>
  <div class="job">Mobile Designer</div>
  <div class="social-friends owl-carousel mb-3">
  <div class="item">
  <div class="stats">
  <div class="row d-flex justify-content-between">
  <div class="col">
  <span class="counter">153</span>
  <span class="text">Friends</span>
  </div>
  <div class="col">
  <span class="counter">86</span>
  <span class="text">Photos</span>
  </div>
  <div class="col">
  <span class="counter">32</span>
  <span class="text">Videos</span>
  </div>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="quick-about">
  <div class="row d-flex align-items-center">
  <div class="col-12">
  <h4>About</h4>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="text-center pt-5 pb-3">
  <a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
  <a href="app-chat.html" class="btn btn-shadow">Message</a>
  </div>
  </div>
  
  </div>
  </div>
  
  </div>
  <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
  
  <div class="widget-image has-shadow">
  <div class="contact-card-2">
  <div class="cover-bg">
  <img src="assets/img/cover/04.jpg" class="img-fluid" alt="...">
  </div>
  
  <div class="widget-body">
  <div class="quick-actions hover">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="#" class="dropdown-item remove">
  <i class="la la-trash"></i>Delete
  </a>
  <a href="#" class="dropdown-item">
  <i class="la la-edit"></i>Edit
  </a>
  </div>
  </div>
  </div>
  <div class="cover-image mx-auto">
  <img src="assets/img/avatar/avatar-05.jpg" alt="..." class="rounded-circle mx-auto">
  </div>
  <h4 class="name"><a href="#">Megan Duncan</a></h4>
  <div class="job">Photographer</div>
  <div class="social-friends owl-carousel mb-3">
  <div class="item">
  <div class="stats">
  <div class="row d-flex justify-content-between">
  <div class="col">
  <span class="counter">200</span>
  <span class="text">Friends</span>
  </div>
  <div class="col">
  <span class="counter">230</span>
  <span class="text">Photos</span>
  </div>
  <div class="col">
  <span class="counter">184</span>
  <span class="text">Videos</span>
  </div>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="quick-about">
  <div class="row d-flex align-items-center">
  <div class="col-12">
  <h4>About</h4>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="text-center pt-5 pb-3">
  <a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
  <a href="app-chat.html" class="btn btn-shadow">Message</a>
  </div>
  </div>
  
  </div>
  </div>
  
  </div>
  <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
  
  <div class="widget-image has-shadow">
  <div class="contact-card-2">
  <div class="cover-bg">
  <img src="assets/img/cover/05.jpg" class="img-fluid" alt="...">
  </div>
  
  <div class="widget-body">
  <div class="quick-actions hover">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="#" class="dropdown-item remove">
  <i class="la la-trash"></i>Delete
  </a>
  <a href="#" class="dropdown-item">
  <i class="la la-edit"></i>Edit
  </a>
  </div>
  </div>
  </div>
  <div class="cover-image mx-auto">
  <img src="assets/img/avatar/avatar-06.jpg" alt="..." class="rounded-circle mx-auto">
  </div>
  <h4 class="name"><a href="#">Beverly Oliver</a></h4>
  <div class="job">Photographer</div>
  <div class="social-friends owl-carousel mb-3">
  <div class="item">
  <div class="stats">
  <div class="row d-flex justify-content-between">
  <div class="col">
  <span class="counter">310</span>
  <span class="text">Friends</span>
  </div>
  <div class="col">
  <span class="counter">95</span>
  <span class="text">Photos</span>
  </div>
  <div class="col">
  <span class="counter">203</span>
  <span class="text">Videos</span>
  </div>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="quick-about">
  <div class="row d-flex align-items-center">
  <div class="col-12">
  <h4>About</h4>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="text-center pt-5 pb-3">
  <a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
  <a href="app-chat.html" class="btn btn-shadow">Message</a>
  </div>
  </div>
  
  </div>
  </div>
  
  </div>
  <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
  
  <div class="widget-image has-shadow">
  <div class="contact-card-2">
  <div class="cover-bg">
  <img src="assets/img/cover/06.jpg" class="img-fluid" alt="...">
  </div>
  
  <div class="widget-body">
  <div class="quick-actions hover">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="#" class="dropdown-item remove">
  <i class="la la-trash"></i>Delete
  </a>
  <a href="#" class="dropdown-item">
  <i class="la la-edit"></i>Edit
  </a>
  </div>
  </div>
  </div>
  <div class="cover-image mx-auto">
  <img src="assets/img/avatar/avatar-07.jpg" alt="..." class="rounded-circle mx-auto">
  </div>
  <h4 class="name"><a href="#">Lisa Garett</a></h4>
  <div class="job">Community Manager</div>
  <div class="social-friends owl-carousel mb-3">
  <div class="item">
  <div class="stats">
  <div class="row d-flex justify-content-between">
  <div class="col">
  <span class="counter">239</span>
  <span class="text">Friends</span>
  </div>
  <div class="col">
  <span class="counter">121</span>
  <span class="text">Photos</span>
  </div>
  <div class="col">
  <span class="counter">24</span>
  <span class="text">Videos</span>
  </div>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="quick-about">
  <div class="row d-flex align-items-center">
  <div class="col-12">
  <h4>About</h4>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="text-center pt-5 pb-3">
  <a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
  <a href="app-chat.html" class="btn btn-shadow">Message</a>
  </div>
  </div>
  
  </div>
  </div>
  
  </div>
  <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
  
  <div class="widget-image has-shadow">
  <div class="contact-card-2">
  <div class="cover-bg">
  <img src="assets/img/cover/07.jpg" class="img-fluid" alt="...">
  </div>
  
  <div class="widget-body">
  <div class="quick-actions hover">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="#" class="dropdown-item remove">
  <i class="la la-trash"></i>Delete
  </a>
  <a href="#" class="dropdown-item">
  <i class="la la-edit"></i>Edit
  </a>
  </div>
  </div>
  </div>
  <div class="cover-image mx-auto">
  <img src="assets/img/avatar/avatar-08.jpg" alt="..." class="rounded-circle mx-auto">
  </div>
  <h4 class="name"><a href="#">Peter Collins</a></h4>
  <div class="job">UI Designer</div>
  <div class="social-friends owl-carousel mb-3">
  <div class="item">
  <div class="stats">
  <div class="row d-flex justify-content-between">
  <div class="col">
  <span class="counter">152</span>
  <span class="text">Friends</span>
  </div>
  <div class="col">
  <span class="counter">187</span>
  <span class="text">Photos</span>
  </div>
  <div class="col">
  <span class="counter">166</span>
  <span class="text">Videos</span>
  </div>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="quick-about">
  <div class="row d-flex align-items-center">
  <div class="col-12">
  <h4>About</h4>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="text-center pt-5 pb-3">
  <a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
  <a href="app-chat.html" class="btn btn-shadow">Message</a>
  </div>
  </div>
  
  </div>
  </div>
  
  </div>
  <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
  
  <div class="widget-image has-shadow">
  <div class="contact-card-2">
  <div class="cover-bg">
  <img src="assets/img/cover/08.jpg" class="img-fluid" alt="...">
  </div>
  
  <div class="widget-body">
  <div class="quick-actions hover">
  <div class="dropdown">
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
  <i class="la la-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu">
  <a href="#" class="dropdown-item remove">
  <i class="la la-trash"></i>Delete
  </a>
  <a href="#" class="dropdown-item">
  <i class="la la-edit"></i>Edit
  </a>
  </div>
  </div>
  </div>
  <div class="cover-image mx-auto">
  <img src="assets/img/avatar/avatar-09.jpg" alt="..." class="rounded-circle mx-auto">
  </div>
  <h4 class="name"><a href="#">Michael Bradley</a></h4>
  <div class="job">Photographer</div>
  <div class="social-friends owl-carousel mb-3">
  <div class="item">
  <div class="stats">
  <div class="row d-flex justify-content-between">
  <div class="col">
  <span class="counter">326</span>
  <span class="text">Friends</span>
  </div>
  <div class="col">
   <span class="counter">258</span>
  <span class="text">Photos</span>
  </div>
  <div class="col">
  <span class="counter">80</span>
  <span class="text">Videos</span>
  </div>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="quick-about">
  <div class="row d-flex align-items-center">
  <div class="col-12">
  <h4>About</h4>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac orci in magna condimentum convallis.
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="text-center pt-5 pb-3">
  <a href="pages-profile.html" class="btn btn-gradient-01">Profile</a>
  <a href="app-chat.html" class="btn btn-shadow">Message</a>
  </div>
  </div>
  
  </div>
  </div>
  
  </div>
  <div class="col d-flex align-items-center">
  <div class="mr-auto p-2">
  <span class="display-items">Showing 1-15 / 257 Contacts</span>
  </div>
  <div class="p-2">
  <nav aria-label="...">
  <ul class="pagination">
  <li class="page-item">
  <span class="page-link"><i class="ion-chevron-left"></i></span>
  </li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item active">
  <span class="page-link">2<span class="sr-only">(current)</span></span>
  </li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item">
  <a class="page-link" href="#"><i class="ion-chevron-right"></i></a>
  </li>
  </ul>
  </nav>
  </div>
  </div>
  </div>
  
  </div>
  
  </div>
  
  </div>
  
  
  <footer class="main-footer">
  <div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
  <p class="text-gradient-02">Design By Saerox</p>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
  <ul class="nav">
  <li class="nav-item">
  <a class="nav-link" href="documentation.html">Documentation</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="changelog.html">Changelog</a>
  </li>
  </ul>
  </div>
  </div>
  </footer>
  
  <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
  
  <div class="off-sidebar from-right">
  <div class="off-sidebar-container">
  <header class="off-sidebar-header">
  <ul class="button-nav nav nav-tabs mt-3 mb-3 ml-3" role="tablist" id="weather-tab">
  <li><a class="active" data-toggle="tab" href="#messenger" role="tab" id="messenger-tab">Messages</a></li>
  <li><a data-toggle="tab" href="#today" role="tab" id="today-tab">Today</a></li>
  </ul>
  <a href="#off-canvas" class="off-sidebar-close"></a>
  </header>
  <div class="off-sidebar-content offcanvas-scroll auto-scroll">
  <div class="tab-content">
  
  <div role="tabpanel" class="tab-pane show active fade" id="messenger" aria-labelledby="messenger-tab">
  
  <span class="date">Today</span>
  <div class="messenger-message messenger-message-sender">
  <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-02.jpg" alt="...">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  <span class="mb-2">Brandon wrote</span>
  Hi David, what's up?
  </p>
  </div>
  <div class="messenger-details">
  <span class="messenger-message-localization font-size-small">2 minutes ago</span>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-recipient">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  Hi Brandon, fine and you?
  </p>
  <p>
  I'm working on the next update of Swift-wallet
  </p>
  </div>
  <div class="messenger-details">
  <span class="messenger-message-localisation font-size-small">3 minutes ago</span>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-sender">
  <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-02.jpg" alt="...">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  <span class="mb-2">Brandon wrote</span>
  I can't wait to see
  </p>
  </div>
  <div class="messenger-details">
  <span class="messenger-message-localization font-size-small">5 minutes ago</span>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-recipient">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  I'm almost done
  </p>
  </div>
  <div class="messenger-details">
  <span class="messenger-message-localisation font-size-small">10 minutes ago</span>
  </div>
  </div>
  </div>
  <span class="date">Yesterday</span>
  <div class="messenger-message messenger-message-sender">
  <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-05.jpg" alt="...">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  I updated the server tonight
  </p>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-recipient">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  Didn't you have any problems?
  </p>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-sender">
  <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-05.jpg" alt="...">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  No!
  </p>
  </div>
  </div>
  </div>
  <div class="messenger-message messenger-message-recipient">
  <div class="messenger-message-wrapper">
  <div class="messenger-message-content">
  <p>
  Great!
  </p>
  <p>
  See you later!
  </p>
  </div>
  </div>
  </div>
  
  
  <div class="enter-message">
  <div class="enter-message-form">
  <input type="text" placeholder="Enter your message..." />
  </div>
  <div class="enter-message-button">
  <a href="#" class="send"><i class="ion-paper-airplane"></i></a>
  </div>
  </div>
  
  </div>
  
  
  <div role="tabpanel" class="tab-pane fade" id="today" aria-labelledby="today-tab">
  
  <div class="sidebar-heading pt-0">Today</div>
  <div class="today-stats mt-3 mb-3">
  <div class="row">
  <div class="col-4 text-center">
  <i class="la la-users"></i>
  <div class="counter">264</div>
  <div class="heading">Clients</div>
  </div>
  <div class="col-4 text-center">
  <i class="la la-cart-arrow-down"></i>
  <div class="counter">360</div>
  <div class="heading">Sales</div>
  </div>
  <div class="col-4 text-center">
  <i class="la la-money"></i>
  <div class="counter">$ 4,565</div>
  <div class="heading">Earnings</div>
  </div>
  </div>
  </div>
  
  
  <div class="sidebar-heading">Friends</div>
  <div class="quick-friends mt-3 mb-3">
  <ul class="list-group w-100">
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Brandon Smith</a>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Louis Henry</a>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-04.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Nathan Hunter</a>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-05.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Megan Duncan</a>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-left align-self-center mr-3">
  <img src="assets/img/avatar/avatar-06.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
  </div>
  <div class="media-body align-self-center">
  <a href="javascript:void(0);">Beverly Oliver</a>
  </div>
  </div>
  </li>
  </ul>
  </div>
  
  
  <div class="sidebar-heading">Settings</div>
  <div class="quick-settings mt-3 mb-3">
  <ul class="list-group w-100">
  <li class="list-group-item">
  <div class="media">
  <div class="media-body align-self-center">
  <p class="text-dark">Notifications Email</p>
  </div>
  <div class="media-right align-self-center">
  <label>
  <input class="toggle-checkbox" type="checkbox" checked>
  <span>
  <span></span>
  </span>
  </label>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-body align-self-center">
  <p class="text-dark">Notifications Sound</p>
  </div>
  <div class="media-right align-self-center">
  <label>
  <input class="toggle-checkbox" type="checkbox">
  <span>
  <span></span>
  </span>
  </label>
  </div>
  </div>
  </li>
  <li class="list-group-item">
  <div class="media">
  <div class="media-body align-self-center">
  <p class="text-dark">Chat Message Sound</p>
  </div>
  <div class="media-right align-self-center">
  <label>
  <input class="toggle-checkbox" type="checkbox" checked>
  <span>
  <span></span>
  </span>
  </label>
  </div>
  </div>
  </li>
  </ul>
  </div>
  
  </div>
  
  </div>
  </div>
  
  </div>
  
  </div>
  
  </div>
  
 