




<div class="page db-social about">




    <div class="page-content d-flex align-items-stretch">
    
    
    
    
    
    
    <div class="row flex-row">
    <div class="col-xl-5">
    
    <div class="widget has-shadow">
    <div class="widget-header bordered no-actions d-flex align-items-center">
    <h4>General Infos</h4>
    </div>
    <div class="widget-body">
    <div class="about-infos d-flex flex-column">
    
    
    </div>
    
    <div class="about-infos d-flex flex-column">
    <div class="about-title">Lives in:</div>
    <div class="about-text">Nigeria</div>
    </div>
    <div class="about-infos d-flex flex-column">
    <div class="about-title">Joined:</div>
    <div class="about-text">{{items.createdAt}}</div>
    </div>
    <div class="about-infos d-flex flex-column">
    <div class="about-title">Gender:</div>
    <div class="about-text">{{items.gender}}</div>
    </div>
    <div class="about-infos d-flex flex-column">
    <div class="about-title">Occupation:</div>
    <div class="about-text">{{items.occupation}}</div>
    </div>
    <div class="about-infos d-flex flex-column">
    <div class="about-title">Email:</div>
    <div class="about-text">{{items.email}}</div>
    </div>
    <div class="about-infos d-flex flex-column">
    <div class="about-title">Website:</div>
    <div class="about-text">{{items.website}}</div>
    </div>
    <div class="about-infos d-flex flex-column">
    <div class="about-title">Phone:</div>
    <div class="about-text">{{items.phone}}</div>
    </div>
    </div>
    </div>
    
    </div>
    
    <div class="col-xl-7 column">
    
    <div class="widget has-shadow">
    <div class="widget-header bordered no-actions d-flex align-items-center">
    <h4>Edit Profile</h4>
    </div>
    <div class="widget has-shadow">
            <div class="widget-body">
            <div class="mt-5">
            <img src="http://localhost:8080/api/image/{{items.profilepicture}}"  height="130" width="150" alt="..." style="width: 120px;" class="avatar rounded-circle d-block mx-auto">
            
            <label class="btn btn-gradient-01">
                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" single>
                    Choose Profile Picture
                  </label>
                  <br>
                  <button type="button" [disabled] ='status==0'class="btn btn-gradient-01" (click)="startUpload()">
                        Start Upload
                      </button>
            </div>
            <h3 class="text-center mt-3 mb-1">{{items.firstname}} {{items.secondname}}</h3>
            <p class="text-center">{{items.email}}</p>
            <div class="em-separator separator-dashed"></div>
            <div class="form-group row d-flex align-items-center mb-5">
                <form></form>
                    <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">First Name</label>
                    <div class="col-lg-6">
                    <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control" value="{{items.firstname}}">
                    </div>
                    </div>

                    <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Second Name</label>
                            <div class="col-lg-6">
                            <input type="text" [(ngModel)]="secondname" name="secondname" class="form-control" value="{{items.secondname}}">
                            </div>
                            </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Email</label>
                            <div class="col-lg-6">
                            <input type="text" [(ngModel)]="email" name="email"class="form-control"value="{{items.email}}" readonly>
                            </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                    <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Phone</label>
                                    <div class="col-lg-6">
                                    <input type="text" [(ngModel)]="phone" name="phone" class="form-control"value="{{items.phone}}">
                                    </div>
                                    </div>
                                    <div class="form-group row d-flex align-items-center mb-5">
                                            <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Website</label>
                                            <div class="col-lg-6">
                                            <input type="text" [(ngModel)]="website" name="website" class="form-control" value="{{items.website}}">
                                            </div>
                                            </div>
                                            <div class="form-group row d-flex align-items-center mb-5">
                                                    <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Occupation</label>
                                                    <div class="col-lg-6">
                                                    <input type="text" [(ngModel)]="occupation" name="occupation" class="form-control" value="{{items.occupation}}">
                                                    </div>
                                                    </div>

                                                    <button  [disabled]='x==0' class="btn btn-gradient-01" align="center" (click)='updateprofile()'>Update Profile</button>
            </div>
            </div>
    </div>
    
    
    <div class="widget has-shadow">
    <div class="widget-header bordered no-actions d-flex align-items-center">
    <h4>Update Comming To This View Soon</h4>
    </div>
    <div class="widget-body">
    <div class="row">
    <div class="col-md-6 about-infos d-flex flex-column">
    <div class="about-title">Creative Media:</div>
    <div class="date">2016 - 2018</div>
    <div class="about-text">Cras semper turpis arcu, in accumsan elit sagittis et. Nulla sed tristique nibh, vehicula blandit massa</div>
    </div>
    
    </div>
    <div class="row">
    <div class="col-md-6 about-infos d-flex flex-column">
    <div class="about-title">Pixel Bird:</div>
    <div class="date">2014 - 2015</div>
    <div class="about-text">Quisque tincidunt, dui efficitur elementum faucibus, est nunc ultricies lacus, et mattis neque nisi sollicitudin</div>
    </div>
    <div class="col-md-6 about-infos d-flex flex-column">
    <div class="about-title">The Good Agency:</div>
    <div class="date">2012 - 2014</div>
    <div class="about-text">Cras semper turpis arcu, in accumsan elit sagittis et. Nulla sed tristique nibh, vehicula blandit massa</div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 about-infos d-flex flex-column">
    <div class="about-title">Swift-wallet Media:</div>
    <div class="date">2010 - 2012</div>
    <div class="about-text">Nullam id faucibus ipsum. Donec bibendum nibh et mi cursus tincidunt. Etiam id nisl sit amet nisi accumsan</div>
    </div>
    <div class="col-md-6 about-infos d-flex flex-column">
    <div class="about-title">Awesome Agency:</div>
    <div class="date">2008 - 2010</div>
    <div class="about-text">Vivamus cursus odio sit amet nisl volutpat bibendum.Vivamus in leo efficitur, placerat leo sed</div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="widget has-shadow">
    
    
    </div>
    
    </div>
    
    
    <footer class="main-footer">
    <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
    <p class="text-gradient-02">Design By Saerox</p>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
    <ul class="nav">
    <li class="nav-item">
    <a class="nav-link" href="documentation.html">Documentation</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="changelog.html">Changelog</a>
    </li>
    </ul>
    </div>
    </div>
    </footer>
    
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
    
    <div class="off-sidebar from-right">
    <div class="off-sidebar-container">
    <header class="off-sidebar-header">
    <ul class="button-nav nav nav-tabs mt-3 mb-3 ml-3" role="tablist" id="weather-tab">
    <li><a class="active" data-toggle="tab" href="#messenger" role="tab" id="messenger-tab">Messages</a></li>
    <li><a data-toggle="tab" href="#today" role="tab" id="today-tab">Today</a></li>
    </ul>
    <a href="#off-canvas" class="off-sidebar-close"></a>
    </header>
    <div class="off-sidebar-content offcanvas-scroll auto-scroll">
    <div class="tab-content">
    
    <div role="tabpanel" class="tab-pane show active fade" id="messenger" aria-labelledby="messenger-tab">
    
    <span class="date">Today</span>
    <div class="messenger-message messenger-message-sender">
    <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-02.jpg" alt="...">
    <div class="messenger-message-wrapper">
    <div class="messenger-message-content">
    <p>
    <span class="mb-2">Brandon wrote</span>
    Hi David, what's up?
    </p>
    </div>
    <div class="messenger-details">
    <span class="messenger-message-localization font-size-small">2 minutes ago</span>
    </div>
    </div>
    </div>
    <div class="messenger-message messenger-message-recipient">
    <div class="messenger-message-wrapper">
    <div class="messenger-message-content">
    <p>
    Hi Brandon, fine and you?
    </p>
    <p>
    I'm working on the next update of Swift-wallet
    </p>
    </div>
    <div class="messenger-details">
    <span class="messenger-message-localisation font-size-small">3 minutes ago</span>
    </div>
    </div>
    </div>
    <div class="messenger-message messenger-message-sender">
    <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-02.jpg" alt="...">
    <div class="messenger-message-wrapper">
    <div class="messenger-message-content">
    <p>
    <span class="mb-2">Brandon wrote</span>
    I can't wait to see
    </p>
    </div>
    <div class="messenger-details">
    <span class="messenger-message-localization font-size-small">5 minutes ago</span>
    </div>
    </div>
    </div>
    <div class="messenger-message messenger-message-recipient">
    <div class="messenger-message-wrapper">
    <div class="messenger-message-content">
    <p>
    I'm almost done
    </p>
    </div>
    <div class="messenger-details">
    <span class="messenger-message-localisation font-size-small">10 minutes ago</span>
    </div>
    </div>
    </div>
    <span class="date">Yesterday</span>
    <div class="messenger-message messenger-message-sender">
    <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-05.jpg" alt="...">
    <div class="messenger-message-wrapper">
    <div class="messenger-message-content">
    <p>
    I updated the server tonight
    </p>
    </div>
    </div>
    </div>
    <div class="messenger-message messenger-message-recipient">
    <div class="messenger-message-wrapper">
    <div class="messenger-message-content">
    <p>
    Didn't you have any problems?
    </p>
    </div>
    </div>
    </div>
    <div class="messenger-message messenger-message-sender">
    <img class="messenger-image messenger-image-default" src="assets/img/avatar/avatar-05.jpg" alt="...">
    <div class="messenger-message-wrapper">
    <div class="messenger-message-content">
    <p>
    No!
    </p>
    </div>
    </div>
    </div>
    <div class="messenger-message messenger-message-recipient">
    <div class="messenger-message-wrapper">
    <div class="messenger-message-content">
    <p>
    Great!
    </p>
    <p>
    See you later!
    </p>
    </div>
    </div>
    </div>
    
    
    <div class="enter-message">
    <div class="enter-message-form">
    <input type="text" placeholder="Enter your message..." />
     </div>
    <div class="enter-message-button">
    <a href="#" class="send"><i class="ion-paper-airplane"></i></a>
    </div>
    </div>
    
    </div>
    
    
    <div role="tabpanel" class="tab-pane fade" id="today" aria-labelledby="today-tab">
    
    <div class="sidebar-heading pt-0">Today</div>
    <div class="today-stats mt-3 mb-3">
    <div class="row">
    <div class="col-4 text-center">
    <i class="la la-users"></i>
    <div class="counter">264</div>
    <div class="heading">Clients</div>
    </div>
    <div class="col-4 text-center">
    <i class="la la-cart-arrow-down"></i>
    <div class="counter">360</div>
    <div class="heading">Sales</div>
    </div>
    <div class="col-4 text-center">
    <i class="la la-money"></i>
    <div class="counter">$ 4,565</div>
    <div class="heading">Earnings</div>
    </div>
    </div>
    </div>
    
    
    <div class="sidebar-heading">Friends</div>
    <div class="quick-friends mt-3 mb-3">
    <ul class="list-group w-100">
    <li class="list-group-item">
    <div class="media">
    <div class="media-left align-self-center mr-3">
    <img src="assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
    </div>
    <div class="media-body align-self-center">
    <a href="javascript:void(0);">Brandon Smith</a>
    </div>
    </div>
    </li>
    <li class="list-group-item">
    <div class="media">
    <div class="media-left align-self-center mr-3">
    <img src="assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
    </div>
    <div class="media-body align-self-center">
    <a href="javascript:void(0);">Louis Henry</a>
    </div>
    </div>
    </li>
    <li class="list-group-item">
    <div class="media">
    <div class="media-left align-self-center mr-3">
    <img src="assets/img/avatar/avatar-04.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
    </div>
    <div class="media-body align-self-center">
    <a href="javascript:void(0);">Nathan Hunter</a>
    </div>
    </div>
    </li>
    <li class="list-group-item">
    <div class="media">
    <div class="media-left align-self-center mr-3">
    <img src="assets/img/avatar/avatar-05.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
    </div>
    <div class="media-body align-self-center">
    <a href="javascript:void(0);">Megan Duncan</a>
    </div>
    </div>
    </li>
    <li class="list-group-item">
    <div class="media">
    <div class="media-left align-self-center mr-3">
    <img src="assets/img/avatar/avatar-06.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
    </div>
    <div class="media-body align-self-center">
    <a href="javascript:void(0);">Beverly Oliver</a>
    </div>
    </div>
    </li>
    </ul>
    </div>
    
    
    <div class="sidebar-heading">Settings</div>
    <div class="quick-settings mt-3 mb-3">
    <ul class="list-group w-100">
    <li class="list-group-item">
    <div class="media">
    <div class="media-body align-self-center">
    <p class="text-dark">Notifications Email</p>
    </div>
    <div class="media-right align-self-center">
    <label>
    <input class="toggle-checkbox" type="checkbox" checked>
    <span>
    <span></span>
    </span>
    </label>
    </div>
    </div>
    </li>
    <li class="list-group-item">
    <div class="media">
    <div class="media-body align-self-center">
    <p class="text-dark">Notifications Sound</p>
    </div>
    <div class="media-right align-self-center">
    <label>
    <input class="toggle-checkbox" type="checkbox">
    <span>
    <span></span>
    </span>
    </label>
    </div>
    </div>
    </li>
    <li class="list-group-item">
    <div class="media">
    <div class="media-body align-self-center">
    <p class="text-dark">Chat Message Sound</p>
    </div>
    <div class="media-right align-self-center">
    <label>
    <input class="toggle-checkbox" type="checkbox" checked>
    <span>
    <span></span>
    </span>
    </label>
    </div>
    </div>
    </li>
    </ul>
    </div>
    
    </div>
    
    </div>
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    